# ==========================================
# Google Firebase Configuration for Vercel
# Salin nilai-nilai ini ke Environment Variables di Vercel Dashboard
# ==========================================

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBx5peQyksRRen96jeCubiAG6XXLH2dYc8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=rokaistoreweb.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=rokaistoreweb
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=rokaistoreweb.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=408645181283
NEXT_PUBLIC_FIREBASE_APP_ID=1:408645181283:web:34ea827281361e3543bd56

# PIN Akses Admin Dashboard (opsional, default: admin123)
NEXT_PUBLIC_ADMIN_PIN=admin123

# Email Super Admin otomatis (opsional)
NEXT_PUBLIC_ADMIN_EMAIL=
